{% extends 'base.html' %}

<html>

<head>
    {% block title %}Employees{% endblock %}
</head>

<body>
    {% block content %}
    <h1>Employees List</h1>
    <hr>
    {% if emps %}
    <table class="table table-striped" style="border-collapse: collapse; width: 60%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Date Joined</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            {% for emp in emps %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.mobile_num}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.date_joined}}</td>


                <td style="border: 1px solid black; padding: 8px;">
                    <a href="{% url 'get_emp' emp.id %}">View/Edit</a>
                    <!-- http://127.0.0.1:8000/get-employee/1/ -->

                    <form action="#" method="post">
                        <input type="submit" value="Delete">

                    </form>
                </td>

            </tr>
            {% endfor %}
        <tbody>

    </table>

    {% else %}
    No Record Found
    {% endif %}

    {% endblock %}
</body>

</html>